@media screen and (max-width: 576px) {
    .col-s-1 {
      width: 8.33%;
    }
    .col-s-2 {
      width: 16.66%;
    }
    .col-s-3 {
      width: 25%;
    }
    .col-s-4 {
      width: 33.33%;
    }
    .col-s-5 {
      width: 41.66%;
    }
    .col-s-6 {
      width: 50%;
    }
    .col-s-7 {
      width: 58.33%;
    }
    .col-s-8 {
      width: 66.66%;
    }
    .col-s-9 {
      width: 75%;
    }
    .col-s-10 {
      width: 83.33%;
    }
    .col-s-11 {
      width: 91.66%;
    }
    .col-s-12 {
      width: 100%;
    }
  }
  
  /*  Medium devices (tablets, 768px and up) */
  @media screen and (max-width: 768px) {
    .col-s-1 {
      width: 8.33%;
    }
    .col-s-2 {
      width: 16.66%;
    }
    .col-s-3 {
      width: 25%;
    }
    .col-s-4 {
      width: 33.33%;
    }
    .col-s-5 {
      width: 41.66%;
    }
    .col-s-6 {
      width: 50%;
    }
    .col-s-7 {
      width: 58.33%;
    }
    .col-s-8 {
      width: 66.66%;
    }
    .col-s-9 {
      width: 75%;
    }
    .col-s-10 {
      width: 83.33%;
    }
    .col-s-11 {
      width: 91.66%;
    }
    .col-s-12 {
      width: 100%;
    }
  }
  
  /* // Large devices (desktops, 992px and up) */
  @media screen and (max-width: 992px) {
    .col-m-1 {
    width: 8.33%;
    }
    .col-m-2 {
      width: 16.66%;
    }
    .col-m-3 {
      width: 25%;
    }
    .col-m-4 {
      width: 33.33%;
    }
    .col-m-5 {
      width: 41.66%;
    }
    .col-m-6 {
      width: 50%;
    }
    .col-m-7 {
      width: 58.33%;
    }
    .col-m-8 {
      width: 66.66%;
    }
    .col-m-9 {
      width: 75%;
    }
    .col-m-10 {
      width: 83.33%;
    }
    .col-m-11 {
      width: 91.66%;
    }
    .col-m-12 {
      width: 100%;
    }
  }
  
  /*  Extra large devices (large desktops, 1200px and up) */
  @media screen and (max-width: 1200px) {
    .col-l-1 {
      width: 8.33%;
    }
    .col-l-2 {
      width: 16.66%;
    }
    .col-l-3 {
      width: 25%;
    }
    .col-l-4 {
      width: 33.33%;
    }
    .col-l-5 {
      width: 41.66%;
    }
    .col-l-6 {
      width: 50%;
    }
    .col-l-7 {
      width: 58.33%;
    }
    .col-l-8 {
      width: 66.66%;
    }
    .col-l-9 {
      width: 75%;
    }
    .col-l-10 {
      width: 83.33%;
    }
    .col-l-11 {
      width: 91.66%;
    }
    .col-l-12 {
      width: 100%;
    }
  }
  
 
  
  @media screen and (max-width: 768px) {
    .icon {
      display: none;
    }

    .menu-title{
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .input-serach {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: 30px;
      padding-top: 0;
    }
    .input-serach-top input {
      width: 200px;
    }
    .input-serach-top i {
      position: relative;
      top: 0px;
      right: 20px;
    }
    .input-serach a {
      display: none;
    }
  }
  

  @media screen and (max-width: 768px) {
      .section-right{
        display: flex;
        width: 100%;

        justify-content: center;
        align-items: flex-start;
      }
    .section-right a{
     font-size: 1.2rem;
    }
    .section-right p{
       font-size:2.5rem;
    }
    .section-right button{
        font-size: 21px;
     }
  }
  @media screen and (max-width: 768px) {
      .item-1{
        width: 100%;
        height: 450px;
        margin-top: 20px;
      }
      .item-1 img {
    max-height: 100%;
    max-width:100%;
}
#description{
  font-size: 1rem;

}

.item-p{
  font-size: 1.3rem;
}
  #item-news{
    font-size: 1.8rem;
    margin-right: 16px;
  }

  }
  
  @media screen and (max-width: 768px) {
    .info-orginal-news .info-right{
  display: none;
}
.info-left{
    width: 100%;
}
.info-left ul li {
  width: auto;
  height: auto;
  margin: 14px;
  font-size: 1.5rem;
}
.info-left ul li a {
  background: none;
  text-align: start;
}
  }
  
  @media screen and (max-width: 768px) {
    #info ul {
      font-size: 1.4rem;
      padding-right: 10px;
      justify-content: space-around;
    }
    #info ul li {
      padding-right: 0;
      margin-right: 0;
  }    

  }
  
  @media screen and (max-width: 768px) {
    .section-pic{
      height: 250px;
    }
    .section-pic .section-info {
        width: 100%;
        font-size: 1.5rem;
        justify-content: space-around;
    }
    .section-pic img{
      display: none;
    }
    .section-info ul li {
        color: white;
        margin: 14px;
        width: 207px;
    }
    .section-info ul li a {
      background: none;
    }
  }
  @media screen and (max-width: 768px) {
    #dokme{
      padding-bottom: 23px;
    }
    #dokme button {
      font-size: 1.4rem;
      height: 40px;
      width: 258px;
  }
}
  @media  screen and (max-width:768px) {
    .info h1{
      font-size: 2.1rem;
    }
    .info ul {
      font-size: 1.4rem;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
  }
    .info ul li {
  margin-right: 0;
   margin-top: 10px;
   width: auto;
    }
    .info{
      padding: 0;
      margin: 0;
    }
  } 

  @media screen and (max-width:768px) {
    #info-last ul li{
      padding-right: 20px;
    width: auto;
    margin: 0;
    padding-left: 20px;
    
    }
  }