


  @media screen and (max-width: 1200px) {
    .icon-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
  .menu-icon {
    display: none;
  }
 
  .input-serach{
    padding-right: 26px;
  }
  .input-serach-top input {
    width: 50%;
  }
  .input-serach-top a {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1200px) {
    .menu i{
        display: none;
    }
    .menu ul {
        padding: 0;
    }
    .menu ul li{
        height: 100%;
    }
    .menu ul li a:hover{
       border: none;
       cursor: pointer;
    }
}
@media screen and (max-width: 1200px) {

    .section-pic .section-info{
        width: 75%;
    }
    .section-right p{
        font-size: 3.4rem;
    }
}
@media screen and (max-width: 1200px) {
    .item-1{
        width: 48%;
    }
    .item-1 #description {
        height: 101px;
    }
    .item-1:hover #description {
        font-size: 1.4rem;
    }
    .item-1:hover #description item-p {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 1200px) {
    .info {
        padding: 0%;
    }
    .info ul li{
        margin-right: 35px;
    }
    .info h1{
       font-size: 2rem;
    }
  
}

@media screen and (max-width: 1200px) {
    #info-last ul li {
        margin: 0;
        width: 100%;
    }
}

